:root {
  --primaryFont: 'Roboto', sans-serif;

  --primaryTextColor: #ffffff;
  --secondaryTextColor: #000000;
  --accentColor: #ff6b08;
  --informationColor: #545454;
  --bgFooterColor: #f7f7f7;
  --btn-accent-color: #ff6b01;

  --primary-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
