{{! <div class="modal-card-img">
        <img src="./images/cat.jpg" alt="cat" />
      </div>
      <div class="description">
        <h2 class="description-tittle">Tittle</h2>
        <ul class="description-mainInfo">
          <!-- будет рендерить автоматически ,это заглушка -->
          <li class="description-mainInfo-items">
            <span class="description-mainInfo-items_cat"> имя категории</span> : категория
          </li>
          <li class="description-mainInfo-items">
            <span class="description-mainInfo-items_cat"> имя категории</span> : категория
          </li>
          <li class="description-mainInfo-items">
            <span class="description-mainInfo-items_cat"> имя категории</span> : категория
          </li>
          <li class="description-mainInfo-items">
            <span class="description-mainInfo-items_cat"> имя категории</span> : категория
          </li>
        </ul>
        <h3 class="description-secondary--title">ABOUT</h3>
        <p class="description-logline">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam necessitatibus nisi
          recusandae, ea impedit vel voluptates reprehenderit molestias, doloribus harum nobis
          dolores beatae dolore facilis? Dolor dolorem adipisci vitae mollitia.
        </p>
        <div class="modal-card-button">
          <button type="button" class="button-modal watched">ADD TO WATCHED</button>
          <button type="button" class="button-modal queue">ADD TO QUEUE</button>
        </div>
      </div> }}