<section class="movie">
  <div class="container wrapper">
    <ul class="movie__list grid-list">
      <li class="movie__item grid-item">
        <div class="example">Item1</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item2</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item3</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item4</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item5</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item6</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item7</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item8</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item9</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item10</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item11</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item12</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item13</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item14</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item15</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item16</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item17</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item18</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item19</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
      <li class="movie__item grid-item">
        <div class="example">Item20</div>
        <!-- <img src="" alt="" class="movie__image"> -->
        <p class="movie__title grid-title">movie_title</p>
        <p class="movie__genre grid-genre">Movie_genre |</p>
        <p class="movie__year grid-year">2021</p>
      </li>
    </ul>
  </div>
</section>

<!-- <section class="movie">
  <div class="container wrapper">
    <ul class="js-movie__list grid-list">
      
    </ul>
  </div>
</section> -->
