<div class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__logo">
        <a href="#">
          <img src="./images/header_images/film.svg" alt="logo" />
        </a>
        <span class="header__logo-name">Filmoteka </span>
      </div>
      <ul class="header__navigation">
        <li class="active">
          <a href="#">HOME</a>
        </li>
        <li>
          <a href="#">MY LIBRARY</a>
        </li>
      </ul>
    </div>
    <div class="header__search">
      <div class="header__search-content">
        <input type="text" placeholder="Поиск фильмов" />
        <button><span class="material-icons"> search </span></button>
      </div>
      <div class="header__search-info">
        <p class="error">Search result not successful. Enter the correct movie name and ...</p>
      </div>
    </div>
    <div class="header__actions">
      <button class="button active">Watched</button>
      <button class="button">Queue</button>
    </div>
  </div>
</div>
