<div class="backdrop is-hidden">
  <div class="team-modal">
    <button type="button" class="team-modal-close-button"></button>
    <h2 class="team-title">Team Spirit</h2>
    <ul class="team-card-list">
      <li class="team-card-list-item">
        <img src="" alt="teammate photo" class="team-card-list-img" />
        <h2 class="team-name">Maryna</h2>
        <p class="team-description">Scrum Master</p>
        <span class="team-contact">
          <a href="mailto:marina.skrypnyk@gmail.com">
            <svg class="mail">
              <use href="./images/sprite.svg#icon-envelope" width="20px"></use>
            </svg>
          </a>
          <a href="https://github.com/Maryna-Skrypnyk">
            <svg class="git-mail">
              <use href="./images/sprite.svg#icon-github" width="20px"></use>
            </svg>
          </a>
        </span>
      </li>
    </ul>
  </div>
</div>
