.tui-pagination .tui-page-btn:hover {
  background-color: #ff6b08 !important;
  border-radius: 5px;
  overflow: hidden;
}

.tui-pagination {
  margin: 0 0 60px !important;
}

.tui-page-btn {
  background-color: aliceblue !important;
  border: none !important;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.tui-is-selected {
  background-color: #ff6b08 !important;
  border-color: #ff6b08 !important;
  border-radius: 5px;
}

.tui-last,
.tui-next,
.tui-first,
.tui-prev {
  background-color: #f7f7f7 !important;
}
