.loader {
  position: absolute;
  top: 47%;
  left: 42%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #ff6b01;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.modal-loader {
  position: absolute;
  top: 42%;
  left: 22%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #ff6b01;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// @keyframes spinner-line-fade-more {
//   0%,
//   100% {
//     opacity: 0; /* minimum opacity */
//   }
//   1% {
//     opacity: 1;
//   }
// }

// @keyframes spinner-line-fade-quick {
//   0%,
//   39%,
//   100% {
//     opacity: 0.25; /* minimum opacity */
//   }
//   40% {
//     opacity: 1;
//   }
// }

// @keyframes spinner-line-fade-default {
//   0%,
//   100% {
//     opacity: 0.22; /* minimum opacity */
//   }
//   1% {
//     opacity: 1;
//   }
// }

// @keyframes spinner-line-shrink {
//   0%,
//   25%,
//   100% {
//     /* minimum scale and opacity */
//     transform: scale(0.5);
//     opacity: 0.25;
//   }
//   26% {
//     transform: scale(1);
//     opacity: 1;
//   }
// }
