.wrapper {
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
    margin-bottom: 50px;
  }
}

.js-movie {
  
  &__list {
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-top: 10px;

    font-size: 12px;
    line-height: 1.33;

    text-transform: uppercase;

    color: #000;
  }

  &__genre,
  &__year {
    display: inline-block;

    font-size: 12px;
    line-height: 1.33;

    color: #FF6B08;
  }

  &__genre--list {
    display: flex;
    justify-content: flex-start;
  }
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(1, 280px);
  gap: 20px;

  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 294px);
    grid-gap: 30px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 274px);
  }
}
