.backdrop {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 100;

  background-color: rgba(180, 180, 209, 0.05);

  transition: all var(--transition-property);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  animation-name: skaleModal;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  transform-origin: center center;
}

.modal {
  width: 100%;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 320px) {
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 618px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 882px;
  }
}
.button-close {
  position: fixed;
  top: 10px;
  right: 10px;

  height: 30px;
  width: 30px;

  box-sizing: border-box;

  border-radius: 50px;
  border: 0.5px solid white;
  background-color: white;

  cursor: pointer;

  &-icon {
    width: 100%;
    height: 100%;
  }
}

.modal-card {
  margin-top: 28px;
  padding: 20px;
  &-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

    @media screen and (min-width: 768px) {
      justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
      justify-content: space-around;
    }
  }

  &-img {
    display: block;

    width: 100%;
    // height: auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.description {
  margin-top: 30px;
  width: 240px;

  font-family: var(--primaryFont);
  color: black;
  &-tittle {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;

    font-family: Roboto;
  }
  &-mainInfo {
    margin-top: 20px;
    list-style: none;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.15;

    &-items {
      margin-top: 10px;
      &_cat {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.15;

        color: #8c8c8c;
      }
    }
  }
  &-secondary--title {
    margin-top: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.15;
  }
  &-logline {
    margin-top: 10px;

    font-family: var(--primaryFont);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.18;
  }

  @media screen and (min-width: 768px) {
    min-width: 264px;
    margin-top: auto;
    margin-left: 30px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 398px;
  }
}
.button-modal {
  width: 112px;
  height: 44px;
  border-radius: 5px;
  border: 0.5px solid black;
  font-family: var(--primaryFont);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;

  cursor: pointer;

  &.watched {
    background-color: var(--accentColor);
    border-color: var(--accentColor);
    &:focus,
    &:hover {
      border-color: black;
    }
  }
  &.queue {
    background-color: white;
    &:focus,
    &:hover {
      border-color: var(--accentColor);
    }
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}

.open-modal {
  overflow: hidden;
}
